
.input {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
}

.label {
    color: white;
}

.arrow {
    font-size: 13px;
    color: white
}

